@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">Quienes Somos</h2>
  
    <p>
        Bienvenido/a a nuestra página de inicio! Nos complace darle la bienvenida a nuestra comunidad comprometida con la igualdad de género.

        Aquí en nuestra página, nos esforzamos por crear un espacio inclusivo y seguro donde todos los géneros son valorados y respetados por igual. Creemos que todos merecemos la misma oportunidad de crecer y alcanzar nuestras metas, sin importar nuestro género.

        Nos tomamos muy en serio nuestra misión de promover la igualdad de género y estamos comprometidos en proporcionar recursos, información y apoyo a aquellos que desean participar en la lucha por la igualdad de género.

        Si está interesado en ponerse en contacto con nosotros para obtener más información o para participar en nuestras iniciativas, por favor visite nuestra página de contacto. Esperamos poder trabajar juntos para crear un mundo más justo y equitativo para todas las personas, independientemente de su género.
    </p>
   <img class="text-center" src="https://img.freepik.com/vector-gratis/concepto-discriminacion-burlona-violencia-genero_52683-40787.jpg" />
</main>