@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contactenos.</h2>
    <h3>Contactos para buscarnos</h3>

    <address>
        Grupo Violencia de Genero<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">Celular</abbr>
        3005469612
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Antoni-6191@hotmail.com</a>
        <br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Antoni-6191@hotmail.com</a>
    </address>
</main>