@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">"Equilibrio de Género Global" (EGG)</h1>
        <p class="lead">
            "No más violencia de género."
        </p>
    </section>
    <section>
        <p class="ml-2">¿Desea Crear un Foro?</p>
        <p style="color: red;">Opcion de Foro para escribir tus problemas parte superior</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Violencia de Genero</h2>
            <p>
                Igualdad de Género y Derechos Humanos
                La igualdad entre hombres y mujeres es ante todo, un derecho humano. El empoderamiento de la mujer es también una herramienta indispensable para promover el desarrollo y reducir la pobreza.

                El programa del UNFPA contribuye a mejorar la garantía, la protección y el restablecimiento de los derechos sexuales y reproductivos, particularmente de mujeres y adolescentes. Para dicho propósito, el UNFPA trabaja para difundir y transversalizar los enfoques de género y de derechos en la gestión del Estado y en la labor de las organizaciones sociales.

                Durante el 2013, buena parte de la acción del UNFPA se concentró en apoyar los esfuerzos del Estado y de la sociedad civil en monitorear los resultados de la implementación de las recomendaciones del Comité para la Eliminación de la Discriminación contra las Mujeres (CEDAW) en Colombia.
            </p>
            <p> <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Igualtat_de_sexes.svg/220px-Igualtat_de_sexes.svg.png"  /> </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <img src="https://www.educaciontrespuntocero.com/wp-content/uploads/2019/02/gender-equality-978x652.jpg" />
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
        </section>
    </div>
</main>